

<div class="pictureText">
  <img src="https://mairiupton.weebly.com/uploads/2/3/1/5/2315001/editor/dsc05496.jpg?1769040736" />
  <p>
    Mairi Upton (Edinburgh, 1987) is an artist and mural painter based in Madrid. She is also an arts facilitator experienced in working with schools and organisations.
  </p>
</div>

<div class="pictureText">
  <div class="textContent">
    <strong>Murals</strong>
    <p>Balia, Tetuán, Madrid. Community project. 2025</p>
    <p>Para Navalosa, Navalosa, Ávila. 2025</p>
    <p>Dáme la mano, CEIP Perú, Madrid. 2025</p>
    <p>Wildflowers, Scottish Borders. 2025</p>
    <p>Salamandra Boulder Café, Madrid. 2024</p>
    <p>Mural for a primary school, Ashalaja, Ghana. Community project. 2023</p>
    
    <strong>Commissions</strong>
    <p>Warner Music Spain - album art for Despistaos 'Estamos enteros' 2018</p>
    
    <strong>Exhibitions and Events</strong>
    <p>Live mural painting, Festival Amazónico - Artivistas Recreando, Campo de la Cebada, Madrid. 2017.</p>
    <p>Horse Drawn - Drawn Horse, Kinsman Blake Gallery, Smailholm. Group exhibition. 2014.</p>
    <p>Group exhibition with Dibujo Madrid, Art Madrid’17, Palacio de Cibeles, Madrid. 2014.</p>
    <p>Live drawing at the launch of "El Gran Viaje”, Dibujo Madrid y Meninas Cartoneras, La Central del Reina Sofía, Madrid. 2014.</p>
    <p>Memorias, 25 años después, with Dibujo Madrid en Círculo de Bellas Artes, Madrid. Group exhibition. 2014.</p>
    <p>Merca, dos y tres, with Dibujo Madrid, Espacio Trapezio, Madrid. Group exhibition. 2013.</p>
    <p>New Work, Café de La Luz, Madrid. Solo exhibition. 2010.</p>
    <p>Landscapes, Main Street Trading, St Boswells. Solo exhibition. 2010.</p>
    <p>Drawn Together, The White House Gallery, Glasgow. Group exhibition. 2009.</p>
    <p>Brigadoon, Southside Studios, Glasgow. Group exhibition. 2009.</p>

    <strong>Training</strong>
    <p>BA (HONS) Fine art - Painting and printmaking. The Glasgow School of Art. 2009</p>
    <p>Seminario de muralismo - Duo Amazonas, Madrid. 2023</p>
    <p>Taller de muralismo 'Resonancias - Laboratorio Creación' - Virginia Bersabé, Madrid, 2025</p>
  </div>
  <img src="https://mairiupton.weebly.com/uploads/2/3/1/5/2315001/456a80e7-993c-4290-82e2-147f7e6a4744_orig.jpg" />

</div>
